<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heroic Features - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="app/assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="app/assets/stylesheets/heroic-features.css" rel="stylesheet">

  </head>
  <%= render partial: 'common/headerLog' %>
  <body>
    <!-- Page Content -->
    <div class="container">
      <!-- Page Features -->
      <div class="row text-center">
        <% @subtotal = 0 %>
        <% @mycart.each do |cart| %>
          <% @enquiry.each do |enq| %>
            <% if cart == enq.id %>
            <div class="col-lg-3 col-md-6 mb-4">
              <div class="card">
                <img class="card-img-top" src="<%= enq.category.image %>" alt="">
                <div class="card-body">
                  <h4 class="card-title"><%= enq.business.name_business %></h4>
                  <p class="card-text"><%= enq.content %></p>
                  <p class="card-text">$<%= enq.category.service_fee %></p>
                  <% @subtotal = @subtotal + enq.category.service_fee %>
                  <br/>
                  <%= form_tag destroy_path(id: enq.id), method: 'post' do %>
                    <%= submit_tag "Don't make a contract" %>
                  <% end %>

                </div>
              </div>
            </div>
            <% end %>
          <% end %>
        <% end %>
      <div class="card">
        <h1 class="display-3"><% session[:subtotal] = @subtotal %>
        Your subtotal is: $<%= @subtotal %> CAD</h1></br>
      </div>
      <p>
      <%= form_for(:post, :url => cart_checkout_path) do |student| %>
        <%= student.submit "Procceed To Checkout" %></br>
      </p>
      <% end %>
    <!-- Bootstrap core JavaScript -->
    <script src="app/assets/javascripts/jquery.min.js"></script>
    <script src="app/assets/javascripts/bootstrap.bundle.min.js"></script>

    </body>
</html>
