<%= render partial: 'common/header' %>
<br/>
<h2>Contacts</h2
  <% @info.each do |contact|%>
    <div class="contacts">
      <h1><%= contact.title %></h1>
      <p><%= contact.phone_number_info %><p>
      <p><%= contact.address %><p>
      <p><%= contact.city %><p>
      <p><%= contact.postal_code_info %><p>
      <p><%= contact.email_info %><p>
  <% end %>
