<h1>All Enquiries</h1>

<ul>
  <li><%= link_to 'about', about_path %></li>
  <li><%= link_to 'contacts', contacts_path %></li>
</ul>

<%= paginate @busy %>

<br/>
<% @busy.each do |bus|%>
  <div class="business">
    <h2>BUSINESS: <%= bus.name_business %></h2>
    <p><%= bus.address_business %></p>
    <p><%= bus.city_business %></p>
    <p><%= bus.phone_number_business %></p>

    <% bus.enquiries.each do |enq| %>
      <div class="enquiries">
        <h2>ENQUIRY: <%= enq.title %></h2>
        <p><%= enq.content%></p>
      </br>
      </div>
   <% end %>
  </div>
<% end %>
<%= page_entries_info @busy %>
