<h1>All Enquiries</h1>

<ul>
  <li><%= link_to 'about', about_path %></li>
  <li><%= link_to 'contacts', contacts_path %></li>
</ul>

<h2>
<%= paginate @enquiry %>
<%= page_entries_info @enquiry %>
</h2>
<br/>
<p>
  <%= form_tag search_results_path, method: 'get' do %>
    <%= text_field_tag :search_keywords %>
    <%= submit_tag "Search" %>
  <% end %>
</p>
<br/>

<%= render partial: 'common/enquiry',
           collection: @enquiry,
           locals: {single_enquiry: true} %>
