<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited
        this post from being saved:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :Title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :Content %><br />
    <%= f.text_area :content %>
  </div>

  <div>
    <%= enq.label :Category %><br/>
    <%= enq.collection_select :Category_id, Category.order(:description_category), :id, :description_category, prompt: 'Select Category' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
